body {
    margin:0;
    padding: 0;
}

.wrapper {
    font-size: 0;
}

.content {
    display: inline-block;
    width: 80%;
    height: 100vh;
}

.land {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url('base_03.png');
    background-size: 100%;
    position: relative;
}

.land__spaces {
    border:1px dotted green;
    width: 50px;
    height: 50px;  
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

.image {
    width: 100%;
    height: 100%;
}

aside {
    display: inline-block;
    width: 20%;
    height: 100vh;
    vertical-align: top;
    background: blue;
}

.objects {
    border:1px dotted pink;
    width: 50px;
    height: 50px;  
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

.space-one {
    position: absolute;
    top: 200px;
    right: 160px;
}

.space-two {
    position: absolute;
    top: 250px;
    right: 220px;
}

.person {
    width: 20px;
    height: 40px;
    background-image: url('person.png');
    background-size: 100%; 
    position: absolute;
}

* {
    box-sizing: border-box;
  }
  
  .modal {
    position: relative;
    padding: 20px;
    width: 50%;
    background: #f2f2f2;
  }
  
  .close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #f2456f;
  }
  .close:hover {
    cursor: pointer;
  }

  .js .overlay {
    display: none; /* comment this line out when styling :) */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10; /* may vary */
    background: rgba(0,0,0,0.5); /* could also include a 1px fallback png for older browsers */
  }
  .js .modal {
    position: absolute;
    top: 20px;
    left: 50%;
  }
  .js .close {
    display: block;
  }